.about-container {
    width: 100%;
    /* max-width: 800px; */
    margin: 50px auto;
    /* padding: 20px; */
    /* background-color: #fff;
    border-radius: 8px; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

/* h1 {
    text-align: center;
    color: #6B62FF;
    margin-bottom: 20px;
} */

.a-tagline{
    display: flex;
    justify-content: space-evenly;
}

.a-tagline  p{
    width: 50%;
}

.about-container  h2 {
    color: var(--theme-color);
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.about-container  p {
    font-size: 20px;
    /* font-weight: 600; */
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.about-container  ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.about-container  ul li {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.offers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--theme-color);
    color: #FFF;
    line-height: 25px;
    /* font-weight: 600; */
}