.container{
     display: flex;
     /* flex-direction: column; */
}

ul{
    /* display: flex; */
    /* flex-direction: column; */
}

button{
    color: white;
    background-color: rgb(12, 0, 145);
    
}